/**************************/
/* Simple fade transition */
/**************************/
.fade-enter-active {
  transition: opacity 0.25s ease-out;
}

.fade-leave-active {
  transition: opacity 0.25s ease-in;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/***************************************/
/* Vertical slide transition with fade */
/***************************************/
.top-slide-fade-enter-active, .top-slide-fade-leave-active {
  transition: all .3s;
}

.top-slide-fade-enter, .top-slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

/*************************/
/* Left slide transition */
/*************************/
.left-slide-enter-active, .left-slide-leave-active{
  transition: all .4s cubic-bezier(.65, .05, .36, 1);
}
.left-slide-enter, .left-slide-leave-active{
  transform: translateX(-300px);
}

/*************************/
/* Right slide transition */
/*************************/
.right-slide-enter-active {
  transition: all .25s ease-out;
}

.right-slide-leave-active{
  transition: all .25s ease-in;
}
.right-slide-enter, .right-slide-leave-active{
  transform: translateX(450px);
}
