$base-text-color: #4bd5ee;
$base-background-color: #121212;
$base-border-color: rgba(255,255,255,0.2);
$base-button-color: #ffe81f;

$default-color: #777;

$error-border-color: rgba(175, 71, 71, 0.8);
$error-test-color: #af4747;
