@charset 'UTF-8';

@import "variables.scss";
@import "transitions.scss";

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

button {
  background: none;
  background-color: $button-base-fone-color;
  border: 1px solid $base-color;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    color: #fff;
    background-color: $base-color;
  }
}

.input {
  position: relative;
  margin-bottom: 20px;

  label span {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  &.invalid input {
    border-color: $error-color;
  }

  .invalid label span {
    color: $error-color;
  }

  .error {
    position: absolute;
    font-size: 0.8em;
    color: $error-color;
    transition: all .3s;
  }
}
